altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
environ==1.0
environs==15.0.1
icoextract==0.2.0
idna==3.16
marshmallow==4.3.0
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
psutil==7.2.2
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pypresence==4.6.1
python-dotenv==1.2.2
python-steamgriddb==1.0.5
pywin32==311
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==82.0.1
urllib3==2.7.0
